body * {
  font-family: "Roboto", sans-serif;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .container {
    margin: 0 56px;
  }
}

.header {
  background: #FFFFFF;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  margin: 17px 0 17px 0;
}
.header-block__menu {
  display: flex;
  justify-content: left;
}
.header-block__menu-burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .header-block__menu-burger {
    display: block;
    margin-right: 40px;
  }
}
.header-block .navigations-list {
  display: flex;
}
@media screen and (max-width: 992px) {
  .header-block .navigations-list {
    display: none;
  }
}
.header-block .navigations-list__item {
  margin-right: 27px;
}
.header-block .navigations-list__link {
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}
.header-block .navigations-list__link:hover {
  color: #EF7F04;
  border-top: 4px solid #EF7F04;
  padding-top: 36px;
}
.header-block .header-buttons__buttons-measuring {
  background-color: #EF7F04;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 18px;
  margin-right: 14px;
}
.header-block .header-buttons__buttons-calculation {
  background: #3B3A63;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 18px;
}
.header-block .header-buttons__icon {
  margin-right: 10px;
}

.title-sections {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
}
@media screen and (max-width: 992px) {
  .title-sections {
    margin-bottom: 29px;
  }
}

.services {
  background-color: #f2f2f2;
  padding: 68px 0 83px;
}
@media screen and (max-width: 992px) {
  .services {
    padding: 47px 0 0;
  }
}
.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .services-list {
    justify-content: center;
  }
}
.services-list .card__item {
  width: calc(50% - 5px);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 55px 0 38px 50px;
}
@media screen and (max-width: 992px) {
  .services-list .card__item {
    width: 60%;
    margin-bottom: 40px;
  }
}
.services-list .card__item_background-window {
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/window.jpg);
}
.services-list .card__item_background-balcony {
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/balcony.jpg);
}
.services-list .card__item_background-house {
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/house.jpg);
}
.services-list .card__item_background-object {
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/object.jpg);
}
.services-list .card__header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.services-list .card__header-title {
  margin-left: 20px;
  width: 220px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
}
.services-list .card__descriptions {
  width: 270px;
  font-weight: 400;
  line-height: 19px;
  color: #2F2F51;
}

.products {
  background-color: #f2f2f2;
  padding-bottom: 54px;
}
.products-list {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}
.products-list__link {
  padding: 10px 25px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
  color: #2F2F51;
  line-height: 21px;
}
.products-list__link:hover {
  color: #FFFFFF;
  background-color: #EF7F04;
}
.products-card {
  display: flex;
  justify-content: space-between;
}
.products-card .left {
  width: 50%;
}
.products-card .left__images {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.products-card .right {
  padding: 74px 40px 52px;
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 3px;
}
.products-card .right__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #EF7F04;
  margin-bottom: 40px;
}
.products-card .right__descriptions {
  width: 280px;
  font-weight: 400;
  line-height: 19px;
  color: #2F2F51;
  margin-bottom: 40px;
}
.products-card .right__specifications-item {
  font-weight: 700;
  display: flex;
  align-items: baseline;
  line-height: 40px;
}
.products-card .right__specifications-item .border-dotted {
  border-bottom: 2px dotted #f2f2f2;
  flex-grow: 1;
}

.windows-house {
  background-image: url(/images/main/main-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 65px;
}
.windows-house .main-info {
  display: flex;
  padding-top: 69px;
}
.windows-house .main-info .left {
  padding: 60px 52px 0 85px;
}
@media screen and (max-width: 992px) {
  .windows-house .main-info .left {
    width: 75%;
  }
}
.windows-house .main-info .left__title {
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.windows-house .main-info .left__title-color {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #EF7F04;
  display: block;
}
.windows-house .main-info .left__advantage {
  display: flex;
  justify-content: space-between;
}
.windows-house .main-info .left__advantage-icon {
  margin-bottom: 20px;
  height: 86px;
}
.windows-house .main-info .left__advantage-description {
  width: 165px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .windows-house .main-info .right {
    display: none;
  }
}
.windows-house .main-info .right__feedback {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 406px;
  padding: 43px 43px 67px 40px;
  text-align: center;
  position: relative;
}
.windows-house .main-info .right__feedback-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
  color: #2F2F51;
}
.windows-house .main-info .right__feedback .input {
  margin-bottom: 24px;
}
.windows-house .main-info .right__feedback .input__item {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  background-color: #E2E2E2;
  border-radius: 3px;
  padding-left: 16px;
  color: #2F2F51;
}
.windows-house .main-info .right__feedback .input__item::-moz-placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.windows-house .main-info .right__feedback .input__item:-ms-input-placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.windows-house .main-info .right__feedback .input__item::placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.windows-house .main-info .right__feedback .input__checkbox {
  display: flex;
  align-items: center;
}
.windows-house .main-info .right__feedback .input__checkbox-check {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}
.windows-house .main-info .right__feedback .input__checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: left;
  margin-left: 10px;
  width: 288px;
}
.windows-house .main-info .right__feedback .right__feedback-button {
  padding: 19px 40px;
  background: #EF7F04;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.windows-house .main-info .right__feedback-images {
  position: absolute;
  bottom: -53px;
  left: -86px;
}

.quality {
  padding-bottom: 96px;
  background-color: #f2f2f2;
}
@media screen and (max-width: 992px) {
  .quality {
    padding-bottom: 38px;
  }
}
.quality-top {
  background-image: url(/images/quality/quality-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  padding: 36px 0 70px;
  margin-bottom: 56px;
}
@media screen and (max-width: 992px) {
  .quality-top {
    padding: 36px 0 0;
    margin-bottom: 29px;
  }
}
.quality-top__title {
  text-align: center;
  margin-bottom: 56px;
}
.quality-top__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .quality-top__list {
    justify-content: space-evenly;
  }
}
.quality-top__list .item {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .quality-top__list .item {
    margin-bottom: 70px;
  }
}
.quality-top__list .item__icon {
  height: 96px;
  margin-bottom: 40px;
}
.quality-top__list .item__description {
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  width: 222px;
}
.quality__btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 18px 36px;
  background: #3B3A63;
  border-radius: 3px;
  font-weight: 700;
  line-height: 19px;
  color: #FFFFFF;
}
.quality__btn-icon {
  margin-right: 22px;
}

.about {
  background-color: #f2f2f2;
  padding-bottom: 90px;
}
@media screen and (max-width: 992px) {
  .about {
    padding-bottom: 0;
  }
}
.about-list {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.about-list__link {
  padding: 10px 25px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
  color: #2F2F51;
  line-height: 21px;
}
.about-list__link:hover {
  color: #FFFFFF;
  background-color: #EF7F04;
}
.about-card {
  display: flex;
  justify-content: center;
}
.about-card .left {
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 50px;
}
@media screen and (max-width: 992px) {
  .about-card .left {
    padding: 50px 50px 50px 30px;
  }
}
.about-card .left__logo {
  margin-bottom: 60px;
}
.about-card .left__description {
  font-weight: 400;
  line-height: 22px;
  width: 60%;
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .about-card .left__description {
    width: 80%;
  }
}
.about-card .right {
  width: 50%;
}
.about-card .right__images {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.about-advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}
@media screen and (max-width: 992px) {
  .about-advantage {
    justify-content: space-evenly;
  }
}
.about-advantage .item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 80px;
  width: 32%;
}
@media screen and (max-width: 992px) {
  .about-advantage .item {
    width: 40%;
    margin-bottom: 50px;
  }
}
.about-advantage .item__icon {
  width: 100px;
}
.about-advantage .item__block {
  font-weight: 700;
  line-height: 26px;
  margin-left: 24px;
  color: #2F2F51;
}
.about-advantage .item__block-title {
  margin-bottom: 16px;
}
.about-advantage .item__block-description {
  width: 215px;
}
.about__button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 18px 36px;
  background: #EF7F04;
  border-radius: 3px;
  font-weight: 700;
  line-height: 19px;
  color: #FFFFFF;
}
.about__button-icon {
  margin-right: 22px;
}

.portfolio {
  background-color: #f2f2f2;
}
@media screen and (max-width: 992px) {
  .portfolio {
    background-color: #FFFFFF;
  }
}
.portfolio .container {
  padding: 48px 0 70px;
  background-color: #FFFFFF;
}
.portfolio__list {
  display: flex;
  justify-content: center;
}
.portfolio__list .item {
  margin-right: 44px;
}
@media screen and (max-width: 992px) {
  .portfolio__list .item:last-child {
    display: none;
  }
}

.questions {
  background-color: #f2f2f2;
}
.questions .container {
  padding: 40px 100px 63px;
  background-color: #EF7F04;
  border-radius: 7px;
}
@media screen and (max-width: 992px) {
  .questions .container {
    padding: 40px 40px 63px;
  }
}
.questions__tille {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.questions__answers-block {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F2F51;
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 30px 20px;
  background-color: #EEEEF3;
}
.questions__answers-block[open] {
  line-height: 41px;
  padding: 20px;
}
.questions__answers-block:hover {
  color: #EF7F04;
}
.questions__answers-title {
  display: block;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */