@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: 'Roboto';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #FFFFFF;
}

.header .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  margin: 17px 0 17px 0;
}

.header .header-block .navigations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  line-height: 19px;
}

.header .header-block .navigations-list__item {
  margin-right: 27px;
}

.header .header-buttons__buttons-measuring {
  background-color: #EF7F04;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 18px;
  margin-right: 14px;
}

.header .header-buttons__buttons-calculation {
  background: #3B3A63;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 18px;
}

.header-buttons__icon {
  margin-right: 10px;
}

.navigations-list__link {
  color: #000000;
}

.navigations-list__link:hover {
  color: #EF7F04;
  border-top: 4px solid #EF7F04;
  padding-top: 36px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-sections {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
}

.services {
  background-color: #f2f2f2;
  padding-top: 68px;
  padding-bottom: 93px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-list .card__item {
  width: calc(50% - 5px);
  background-size: cover;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 55px 0 38px 50px;
}

.services-list .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.services-list .card__header-title {
  margin-left: 20px;
  width: 220px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
}

.services-list .card__descriptions {
  width: 270px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2F2F51;
}

.card__item_background-window {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(/images/services/window.jpg);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/window.jpg);
}

.card__item_background-balcony {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(/images/services/balcony.jpg);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/balcony.jpg);
}

.card__item_background-house {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(/images/services/house.jpg);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/house.jpg);
}

.card__item_background-object {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(/images/services/object.jpg);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/object.jpg);
}
/*# sourceMappingURL=style.css.map */