.about {
  background-color: $gray;
  padding-bottom: 90px;

  @media screen and (max-width: 992px) {
    padding-bottom: 0;
  }

  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    &__link {
      padding: 10px 25px;
      margin-right: 10px;
      border-radius: 3px;
      font-weight: 700;
      font-size: 18px;
      color: $text;
      line-height: 21px;
    }

    &__link:hover {
      color: $white;
      background-color: $orange;
    }
  }

  &-card {
    display: flex;
    justify-content: center;

    .left {
      width: 50%;
      background-color: $white;
      border-radius: 3px;
      padding: 50px;

      @media screen and (max-width: 992px) {
        padding: 50px 50px 50px 30px;
      }

      &__logo {
        margin-bottom: 60px;
      }

      &__description {
        font-weight: 400;
        line-height: 22px;
        width: 60%;
        margin-left: auto;

        @media screen and (max-width: 992px) {
          width: 80%;
        }
      }
    }

    .right {
      width: 50%;

      &__images {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }

  &-advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;

    @media screen and (max-width: 992px) {
      justify-content: space-evenly;
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 80px;
      width: 32%;

      @media screen and (max-width: 992px) {
        width: 40%;
        margin-bottom: 50px;
      }

      &__icon {
        width: 100px;
      }

      &__block {
        font-weight: 700;
        line-height: 26px;
        margin-left: 24px;
        color: $text;

        &-title {
          margin-bottom: 16px;
        }

        &-description {
          width: 215px;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 18px 36px;
    background: $orange;
    border-radius: 3px;
    font-weight: 700;
    line-height: 19px;
    color: $white;

    &-icon {
      margin-right: 22px;
    }
  }
}