.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: $white;

  .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin: 17px 0 17px 0;

    .navigations-list {
      display: flex;

      &__item {
        margin-right: 27px;
      }
    }
  }

  .header-order {
    &__buttons-measuring {
      background-color: $orange;
      border-radius: 3px;
      color: $white;
      font-size: 13px;
      padding: 10px 18px;
      margin-right: 14px;
      }
  
    &__buttons-calculation {
      background: $purple;
      border-radius: 3px;
      color: $white;
      font-size: 13px;
      padding: 10px 18px;
    }
  }
}

.header-order__span {
  margin-right: 9px;
}

.navigations-list__link {
  color: $black;
}

.navigations-list__link:hover {
  color: $orange;
  border-top: 4px solid $orange;
  padding-top: 36px;
}